.skills {
    margin: 0 10rem;
    padding: 0 2em;
    width: 75%;
}

.skills__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 2.5rem;
    color: var(--font-color);
}

.skills__line {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-bottom: 7rem;
    
}

.skills__box {
    width: 170px;
    height: 170px;
    background-color: var(--font-color);
    border-radius: 100%;
    
}

.skills__box ul {
    width: 180px;
    height: 170px;
    list-style: none;
    
}

.skills__img {
    width: 100px;
    position: relative;
    left: 70px;
    top: 50px;
}

.skills__name {
    width: 100px;
    position: relative;
    left: 60px;
    top: 50px;
}
#js {
    width: 100px;
    position: relative;
    left: 50px;
    top: 50px;
}

#css {
    width: 100px;
    position: relative;
    left: 70px;
    top: 50px;
}

#react {
    width: 100px;
    position: relative;
    left: 65px;
    top: 50px;
}

#bootstrap {
width: 100px;
    position: relative;
    left: 50px;
    top: 50px;
}


@media (max-width: 992px) {
    
    .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0;
    }
    
    .skills__line {
        display: flex;
        flex-direction: column;
    }
}