.academic {
    padding: 0 2em;
    margin: 7em 7rem;
    width: 75%;
}

.academic__title {
    text-align: center;
    font-size: 32px;
}

.academic__courses {
    display: flex;
    justify-content: center;
}

.academic__courses__list {
    list-style: none;
}

.academic__courses__item__title {
    margin-left: 4.3em;
    font-size: 22px;
}

.academic__courses__item__subtitle {
    margin-left: 6em;
    font-size: 16px;
}