header {
    display: flex;
}
.vector__logo {
padding: 0.7rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin: 0 10rem;
   padding: 0 2em;
   width: 75%;
    
}

.menu__title {
font-size: 1rem;
margin-top: 1rem;
}

.menu__list {
    list-style: none;
    display: flex;
    color: var(--font-color);
    padding: 1rem;
}

.menu__list__item {
    padding: 1em;
}

