header {
    display: flex;
}
.vector__logo {
padding: 0.7rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin: 0 10rem;
    padding: 0 2em;
    width: 75%;
    
}

.menu__title {
font-size: 1rem;
margin-top: 1rem;
color: var(--font-color);
}

.menu__list {
    list-style: none;
    display: flex;
    color: var(--font-color);
    padding: 1rem;
}

.menu__list__item {
    padding: 1em;
}


@media (max-width: 992px) {
 
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 0;
    padding: 0 0;
    }
.menu__title {
    font-size: 2rem;
}
.menu__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}
